@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quattrocento:wght@700&display=swap');

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

$primary-color: #0468bf;
$secondary-color: #9b2b03;
$dark-color: #001939;
$accent-color: #05f2f2;
$highlight-color: #f27405;
$light-color: #d5ffff;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

.background:before {
  background-image: url('images/coral-simple.svg');
  background-repeat: no-repeat;
  content: ' ';
  position: fixed;
  transform: rotate(-65deg);
  height: 100%;
  width: 200vw;

  z-index: -1;
}

.orange:before {
  filter: invert(68%) sepia(32%) saturate(7058%) hue-rotate(1deg) brightness(98%) contrast(97%) opacity(30%);
  left: -40vw;
  top: 40vh;
}

.blue:before {
  filter: invert(72%) sepia(79%) saturate(1822%) hue-rotate(133deg) brightness(96%) contrast(97%);
  left: -35vw;
  top: 42vh;
}

body {
  position: relative;
  width: 100%;
  color: $dark-color;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Ubuntu,
    'Helvetica Neue',
    sans-serif;
  // background-color: $light-color;
  a {
    color: $highlight-color;
  }
  header {
    background-color: #001939be;
  }
  .float-text {
    background-color: #001939ad;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Quattrocento', serif;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .light {
    color: $light-color;
  }
}

.footer {
  background-image: url('images/deep-jellyfish.jpeg');
  color: #fae0bd !important;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}
